{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}
<form method="POST">

    <br>
    <h3 class="w-50">Login</h3>
    <br>


    <div class="input-group input-group-sm mb-3">

        <div class="input-group-prepend">
            <span class="input-group-text" id="username_label">username</span>
        </div>
        <input
                type="username"
                class="form-control"
                id="username"
                name="username"
                placeholder="enter your username"
        />
    </div>

    <div class="input-group input-group-sm mb-3">

        <div class="input-group-prepend">
            <span class="input-group-text" id="password_label">password</span>
        </div>
        <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="enter your password"
        />
    </div>

    <div class="input-group-prepend">
        <button type="submit" class="btn btn-primary btn-sm">login</button>
    </div>


</form>
{% endblock %}